# Node
\node_modules
package-lock.json
package.json

# Hugo generated content
/public/
/resources/_gen/
hugo_stats.json

# Hugo executable files
hugo.exe
hugo.darwin
hugo.linux

# Temporary files
/.hugo_build.lock