@import "./bootstrap/bootstrap.scss";
@import "navbar";
@import "menu";
@import "raditian";

/* SHOWCASE */
// Set the background color of the showcase section
.rad-showcase {
    background-color: #D6D2C4;
}
// Remove padding above showcase photo that was causing assymetry between the
// text and picture columns' vertical alignment
.profile-image img{
    margin-top: 0px;
}
// Small screens: add padding below image, to have neat whitespace around it when columns
// organized on top of each other
@media (max-width: 991px) {
    .profile-image {
        margin-bottom: 30px;
    }
}
// Small screens: add padding below section
@media (max-width: 991px) {
    .rad-showcase {
        padding-bottom: 30px;
    }
}
// Large screens: make the picture slightly smaller to leave some room between it and
// the text
@media (min-width: 992px) {
    .profile-image img {
        max-width: 95% !important;
        display: block;
        margin-left: auto;
        margin-right: 0;
    }
}

// Fix the formatting for the social links in the showcase section
.rad-showcase div#social-links [class^="icon-"] {
    // margin-right: 5px;
    font-size: 1.8rem;
    color: #000;
}

/* ABOUT */
// Wide screens: decrease unnecessary whitespace around the about section
@media (min-width: 768px) {
    .rad-showcase + section {
        margin-top: -200px;
        padding-top: 0px;
        margin-bottom: -200px;
        padding-bottom: 0px;
    }
}
// Fix the profile picture being too high (due to a larger filesize), causing too much
// whitespace around it on smaller screens
@media (max-width: 767px) {
    .about__profile-picture, .about__profile-picture img {
        max-height: 500px;
    }
}
// Remove padding on top of picture
.about__profile-picture {
    margin-top: 0px;
}
// Small screens: negative padding to decrease whitespace between text and picture
@media (max-width: 991px) {
    .about__profile-picture {
        margin-top: -50px;
    }
}
// Large screens: make the picture slightly smaller to leave some room between it and
// the text
@media (min-width: 992px) {
    .about__profile-picture img {
        max-width: 96% !important;
        display: block;
        margin-left: 0;
        margin-right: auto;
    }
}

/* THEMES */
// Set the background color of the theme section
.section-themes {
    background-color: #D6D2C4;
}
// Set the color of the theme buttons when pushed
.experience a:active{
    display: block;
    background-color: #284734 !important;
}
// Theme description text in summary
.experience__company {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: -0px;
    color: #000;
}
// Fix theme picture aspect ratio (found only on the theme section page, not homepage)
.theme-picture img {
    height: auto;
}

/* CONTACT */
// Set the background color of the contact box
.div.container {
    background-color: #D6D2C4;
}
// Set the padding for the contact form box so it does not spill into the previous
// section
@media (min-width: 992px) {
    .contact {
        margin-top: 20px !important;
    }
}

/* FOOTER */
// Fix the formatting for the social links in the footer
.footer div#footer-social-links {
    margin-top: 20px;
}
.footer div#footer-social-links [class^="icon-"] {
    font-size: 1.8rem;
    color: #fff;
}

/* COOKIE CONSENT */
#cookie-notice {
    z-index: 1000; // Always on top
    font-size: 12px;
    padding: 0.5rem 0.5rem;
    display: none;
    text-align: center;
    position: fixed;
    bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background: #FFF;
    border-top: 1px solid #D6D2C4;
}
#cookie-notice a {font-weight: 600; font-size: 12px; display: inline-flex; cursor: pointer; margin-left: 0.5rem;}
#cookie-notice-deny {
    background-color: #333;
    border-color: #333;
}
@media (max-width: 767px) {
    #cookie-notice span {display: block; padding-top: 3px; margin-bottom: 1rem;}
    #cookie-notice a {position: relative; bottom: 4px;}
    #cookie-notice {left: 0px;}
}

/* GENERAL */
/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&family=Montserrat:wght@400;700&display=swap');

/* Set primary font for headlines and key texts */
h1, h2, h3, h4, h5, h6, .display-1, .display-2, .display-3, .display-4, span {
    font-family: 'Montserrat', sans-serif !important;
}

/* Set secondary font for body text and subtexts */
body, p, a, .lead, .text-muted, .section, .container {
    font-family: 'Atkinson Hyperlegible', sans-serif !important;
}

/* Add gap between logo texts in the navbar-brand in the header */
.header .navbar-brand {
    gap: 8px;
}

// Set text styles for basic text content (to also style e.g. blogs and themes)
p, li {
    font-size: 16px !important;
    font-weight: 300 !important;
    line-height: 1.5 !important;
    letter-spacing: -0px !important;
    color: #000 !important;
}
@media (min-width: 992px) {
    p, li {
        font-size: 18px !important;
    }
}

strong {
    font-weight: $font-weight-bold;
}

// Make the list be a bit closer to the preceding paragraph
p + ul, p + ol {
    margin-top: calc(-30px + 16px) !important;
}

// Add more space between text and inline pictures (e.g., in the themes pages) to cancel
// out the -12px top margin added between text paragraphs (later in this file, by
// adritian)
p > img {
    margin-top: 12px;
}

// Override color of highlighted (selected) text in the body
html body ::selection{
    background-color:#284734 !important;
}


// Adritian stylesheet (mostly unchanged?) from here onwards

/** main style **/
.header .navbar-brand span:first-child{
    color: #006845;
}
.header .container{
    padding-left: 10px;
}

html body ::selection{
    background-color:#488079;color:#fff
}

.container {
    padding-left: 24px;
    padding-right: 24px
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    line-height: normal;
    color: #000;
    margin-bottom: 8px;
}
@media (min-width: 992px) {
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 10px;
    }
}
h1,
h2 {
    margin-bottom: 16px;
}
h2 {
    font-size: 32px;
}
@media (min-width: 992px) {
    h1 {
        margin-bottom: 10px;
    }
    h2 {
        margin-bottom: 10px;
        font-size: 48px;
    }
}
h3,
h4 {
    font-size: 20px;
    font-weight: 600;
}
@media (min-width: 992px) {
    h3,
    h4 {
        font-size: 32px;
    }
    p {
        line-height: 28px;
    }
}
p {
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #333;
}
p + p {
    margin-top: -12px;
}
.display-1 {
    font-size: 36px;
    font-weight: 800;
    line-height: normal;
    color: #000;
}
@media (min-width: 992px) {
    .display-1 {
        font-size: 60px;
    }
}

h1.display-1 > span {
    font-size: 28px !important;
}
@media (min-width: 992px) {
    h1.display-1 > span {
        font-size: 45px;
    }
}

p a,
span a {
    color: #000;
    font-weight: 600;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
}
p a:hover,
span a:hover {
    color: #006845;
    text-decoration: none;
}
.lead {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: -0px;
    color: #000;
}

br {
    content: "";
    margin: 2em;
    display: block;
    font-size: 24%;
}

@media (min-width: 992px) {
    .lead {
        font-size: 18px;
    }
    .contact {
        margin-top: -2px;
    }
}

@media (min-width: 992px) {
    .ml-lg-auto, .mx-lg-auto {
        margin-left: auto !important;
    }
}

html[data-bs-theme="dark"] {
    #dark-toggle {
        span.dark{ 
            display: none;
        }
    }
}
html[data-bs-theme="light"] {
    #dark-toggle {
        span.light{ 
            display: none;
        }
    }
}